.btn-primary, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary.active, .show > .btn-outline-primary.dropdown-toggle, .card-primary, .page-item.active .page-link, .list-group-item.active {
    background-color: #7376df !important;
    border-color: #7376df !important; }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    background-color: #6365d2 !important;
    border-color: #6365d2 !important; }

.btn-outline-primary {
    color: #7376df !important;
    border-color: #7376df !important; }

.btn-outline-primary.disabled, .btn-outline-primary:disabled, .btn-link, .page-link, .text-primary {
    color: #7376df !important; }

.btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
    color: #6365d2 !important; }

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #ffffff !important;
    background-color: #7376df;
    border-color: #7376df; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #6365d2;
    border-color: #6365d2; }

.btn-outline-primary, .btn-outline-primary:visited {
    color: #7376df;
    border-color: #7376df;
    background: none; }

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #7376df;
    border-color: #7376df;
    color: #ffffff; }

.btn-secondary, .btn-default {
    background-color: #ffffff;
    color: #444444;
    border-color: #dfdfdf; }

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-default:hover, .btn-default:focus, .btn-default:active {
    color: #444444 !important;
    background-color: #f7f7f7 !important;
    border-color: #dfdfdf !important; }

.btn-margins button.btn {
    margin: 0 4px 6px 0 !important; }

.btn {
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .75rem;
    padding: .6rem 1.15rem;
    cursor: pointer; }

.btn:focus {
    outline: none;
    box-shadow: none; }

.btn-xs {
    font-size: .6rem;
    padding: .5rem 1rem; }

.btn-sm {
    font-size: .65rem;
    padding: .5rem 1rem; }

.btn-md {
    font-size: .75rem;
    padding: .6rem 1.15rem; }

.btn-lg {
    font-size: .8rem;
    padding: .9rem 1.5rem; }

.btn-circle {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1rem;
    padding: 0;
    border-radius: 50%; }

.btn-subtle {
    border: none;
    background: #f7f7f7;
    color: #7376df;
    -webkit-appearance: none;
    cursor: pointer; }

.btn-subtle:hover, .btn-subtle:focus, .btn-subtle:active {
    color: #ffffff;
    background-color: #7376df;
    outline: none; }

.btn-stripped {
    border: none;
    background: none !important;
    color: #444444 !important;
    -webkit-appearance: none;
    cursor: pointer; }

.btn-stripped:hover, .btn-stripped:focus, .btn-stripped:active {
    color: #7376df;
    background-color: none;
    outline: none; }


#btn-todo {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
