.dropdown-item.active, .dropdown-item:active, .custom-control-input:checked ~ .custom-control-indicator, .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator, .nav-pills .nav-item.show .nav-link, .badge-primary, .progress-bar, .bg-primary {
    background-color: #7376df !important;
    background-image: none; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #7376df !important;
    border-radius: 4px; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #7376df !important;
    border-radius: 499px; }

.nav-pills .nav-link.active, .badge-primary[href]:focus, .badge-primary[href]:hover, a.bg-primary:focus, a.bg-primary:hover {
    background-color: #6365d2 !important; }

.form-control:focus {
    border-color: #7376df !important; }

input[type=checkbox]:checked + label {
    text-decoration: line-through;
    color: #a0a0a0; }


.form-control {
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    box-shadow: none; }

input.form-control {
    height: 46px; }

.bootstrap-table input.form-control {
    height: 34px; }

.input-group-btn .btn {
    height: 46px; }

.form-control:disabled, .form-control[readonly] {
    background-color: #f7f7f7;
    color: #7c7c7c; }

.form-control:focus {
    outline: 0;
    background-color: #ffffff;
    color: #444444; }

.help-block {
    font-size: .9rem;
    color: #7c7c7c; }

.custom-select, .custom-select.form-control {
    height: 46px !important;
    background-color: #ffffff;
    border-color: #dfdfdf;
    color: #444444; }
