<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
  <h1 class="site-title"><a href="/"> Trader Profile</a></h1>

  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item"><a class="nav-link" href="index.html"><em class="material-icons">toc</em> Feed <span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link" href="widgets.html"><em class="material-icons">person</em> Perfil</a></li>
    <li class="nav-item"><a class="nav-link" href="<%= operations_path %>"><em class="material-icons">swap_vert</em> Operações</a></li>
    <li class="nav-item"><a class="nav-link" href="buttons.html"><em class="material-icons">shuffle</em> Estratégias</a></li>
  </ul>
  <a href="login.html" class="logout-button"><em class="fa fa-power-off"></em> Sair</a>
</nav>