<div class="card mb-4">
  <div class="card-block">
    <h3 class="card-title">Nova Operação</h3>
    <div class="divider" style="margin-top: 1rem;"></div>

    <div class="articles-container">
      <%= render 'form', operation: @operation %>
    </div>
  </div>
</div>
